{% extends 'base.html' %}
{% block title %}Details{% endblock %}

{% block content %}

<h2>Movie Details</h2>
  
<h3>Title: <span id='movie_title'>{{ movieData.data.Title }}</span></h3>
<h3>Director: {{ movieData.data.Director }} </h3>
<h3>Release Year: <span id='release_year'>{{ movieData.data.Year }}</span></h3>
<h3>Description: {{ movieData.data.Plot }} </h3>

<button id="thumbsUpButton">Thumbs Up</button>
<p id="thumbsUpCount">{{ thumbsUp }}</p>

<button id="thumbsDownButton">Thumbs Down</button>
<p id="thumbsDownCount">{{ thumbsDown }}</p>

{% endblock %}